.mainbody {
    background: url("../img/techandall_wallpaper_1.jpg");
    background-attachment: fixed;
    background-size: cover;
    max-height: 100%;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
}
